*{
  margin: 0;
}
.App{
  background-color : #fafafa;
  height:100%;
}
.app_header {
  position:sticky;
  top:0;
  background-color: white;
  padding:20px;
  object-fit:contain;
  border-bottom: 1px solid lightgray;
  display:flex;
  justify-content: space-between;
  z-index: 1;
}
.app_signup{
  display:flex;
  flex-direction:column;
}
.app_headerImage{
  object-fit:contain;
}
.app_posts{
  padding:20px;
  display:flex;
  justify-content:space-between;
}
.app_postsRight{
  margin-left: 20px;
}